**/bin/
**/obj/
**/.vs/
**/.vscode/
.git/
.gitignore
.gitattributes
**/*.user
**/*.suo
**/logs/
*.log
**/node_modules/
src/IMS.Web/dist/
src/IMS.Web/.env
src/IMS.Web/.env.*
*.md
docker-compose*.yml
Dockerfile*
.dockerignore