POSTGRES_HOST=postgres
POSTGRES_DB=inventorydb
POSTGRES_USER=ims
POSTGRES_PASSWORD=ims_pw_2024

JWT_SECRET=YourSuperSecretKeyForJwtAuthenticationThatNeedsToBeLongEnough
JWT_ISSUER=IMS.API
JWT_AUDIENCE=IMS.Client

REDIS_CONNECTION=redis:6379